@using MealPlanner.Data.Entities
@model IEnumerable<Meal>


@{
    ViewData["Title"] = "Mina Måltider";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Skapa ny måltid</a>
<table>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Ingredienser</th>
            <th>Tillagningstid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var meal in Model)
        {
            <tr>
                <td>@meal.Name</td>
                <td>@string.Join(", ", meal.Ingredients.Select(i => i.Name))</td>
                <td>@meal.CookingTime</td>
            </tr>
        }
    </tbody>
</table>
