@using MealPlanner.Data.Entities
@model IEnumerable<Meal>

@{
    ViewData["Title"] = "Alla Måltider";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Skapa ny måltid</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Namn</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var meal in Model)
        {
            <tr>
                <td>@meal.Name</td>
                <td>
                    <a asp-action="MealDetails" asp-route-id="@meal.Id">Detaljer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
